body {
  font-family: "Montserrat";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f3f4f7;
  padding-top: 6rem;
  &.page-home {
    padding-top: 0;
  }
}

a {
  color: #03a9f4;
  &:hover, &:active, &:focus {
    color: #0e9edf;
    text-decoration: none;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumb {
  padding: 0;
  background: transparent;
}

.hr-large {
  margin: 2rem 0;
  border-color: #f5f5f5 !important;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

header {
  height: 5rem;
  padding: 0.5rem 0;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 0 15px #bfcbd7;
  transition: background-color .2s,box-shadow .2s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  img.logo {
    float: left;
    width: auto;
    height: 1.5rem;
    margin-top: 1.25rem;
    &.white {
      display: none;
    }
  }
  a {
    font-size: 0.75rem !important;
  }
  ul li {
    float: left;
  }
  nav.menu {
    .menu-account {
      float: right;
    }
    .menu-languages {
      float: right;
      img {
        width: auto;
        height: 1.5rem;
      }
    }
    > ul {
      width: calc(100% - 200px);
      height: 4rem;
      line-height: 4rem;
      > li {
        padding-right: 0.5rem;
        &.menu-languages {
          padding-left: 0.5rem;
          padding-right: 0;
          a {
            color: rgba(0, 0, 0, 0.5);
          }
        }
      }
      ul li {
        padding-left: 0.5rem;
        padding-right: 0;
      }
    }
  }
}

.mm-panel .mm-listview {
  display: block !important;
}

.mm-opened header[role=header] {
  z-index: 1;
}

.mm-btn {
  height: 3.5rem;
}

.headroom {
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
}

.headroom--pinned {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

.headroom--unpinned {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.page-home .headroom--top {
  box-shadow: none ;
  background: transparent;
  .logo {
    display: none;
    &.white {
      display: inline-block;
    }
  }
  .btn, li.menu-languages a {
    color: #fff;
  }
}

.btn {
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.5);
}

.inner-shadow {
  box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.05), inset 0px -11px 8px -10px rgba(0, 0, 0, 0.05);
}

.bg-header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,f2f2f2+100 */
  background: rgb(249, 249, 249);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(242, 242, 242, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(242, 242, 242, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(249, 249, 249, 1) 0%, rgba(242, 242, 242, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f2f2f2',GradientType=0 );
  /* IE6-9 */
}

.block-modal {
  height: 100%;
  background: #fff;
  box-shadow: 0 0 15px #cfd9e4;
  border-radius: 4px;
}

.block-modal-header {
  color: #4f4f4f;
  background: #f9f9f9;
  border-radius: 4px 4px 0 0;
}

.block-modal {
  .form-control {
    font-size: 12px;
    font-weight: normal;
    padding: .75rem 1.75rem .75rem .75rem;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 3px;
  }
  .form-select {
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    max-width: 100%;
    padding: .75rem 1.75rem .75rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #f5f5f5 url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
    background-size: 8px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #f5f5f5;
    border-radius: 3px;
    outline: 0;
  }
  .form-control {
    &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
      color: #bebebe;
    }
  }
  button.btn-add {
    padding: .75rem 1.75rem .75rem .75rem;
  }
}

.bootstrap-datetimepicker-widget table td.disabled {
  background: none;
  color: #d8d8d8;
  cursor: not-allowed;
  &:hover {
    background: none;
    color: #d8d8d8;
    cursor: not-allowed;
  }
}

.block-payment {
  height: 3rem;
  line-height: 3rem;
  ul {
    float: left;
    height: 3rem;
    line-height: 3rem;
    li {
      float: left;
      height: 3rem;
      line-height: 3rem;
      padding-left: 1rem;
      &:first-child {
        padding-left: 0;
      }
      img {
        height: 1.25rem;
      }
    }
  }
}

footer {
  &.footer{
    position: relative;
    background-image: url(../img/footer.jpg?v2);
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &.container-fluid{
      &:before{
        display: inline;
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background: rgba(3, 169, 244, 0.65);
    }
    *{
      position: relative;
      z-index: 1;
      color: #fff;
    }
    .logo {
      width: 16rem;
    }
    li {
      padding-top: 0.5rem;
      &:first-child {
        padding-top: 0;
      }
    }
    a {
      color: #fff;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4), 0px 3px 3px rgba(0, 0, 0, 0.1), 0px 12px 13px rgba(0, 0, 0, 0.1);
      text-decoration: none;
      &:hover, &:active, &:focus {
        color: #fff;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4), 0px 3px 3px rgba(0, 0, 0, 0.1), 0px 12px 13px rgba(0, 0, 0, 0.1);
        text-decoration: none;
      }
    }
  }
}

/****** homepage ******/

.page-home .hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  &.slide-1 {
    background-image: url(../img/home-1.jpg);
  }
  &.slide-2 {
    background-image: url(../img/home-2.jpg);
  }
  &:before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    /* IE6-9 */
  }
  div {
    margin: auto;
    padding: 0 1rem;
    z-index: 1;
    h1 {
      color: #fff;
      text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
      margin-bottom: 3rem;
    }
  }
}

.arguments .highlight {
  color: #03a9f4 !important;
}

.page-home .owl-theme {
  .owl-nav.disabled + .owl-dots {
    margin: 0 auto;
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    right: 0;
  }
  .owl-dots .owl-dot {
    span {
      width: 20px;
      height: 8px;
    }
    &.active span, &:hover span {
      background-color: #03a9f4;
    }
  }
}

section {
  &.partners {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    .item {
      display: block;
      width: 100%;
      padding: 1.5rem 0;
      margin: 0.75rem 0;
      background-color: #eaedf2;
      text-align: center;
      img {
        width: auto;
        height: 2rem;
      }
    }
  }
  &.points {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    .item {
      float: left;
      width: 100%;
      padding: 1.5rem 0;
      background-color: #fff;
      text-align: center;
      border: 1px solid #fff;
      &:hover {
        border: 1px solid #e4e6ed;
      }
      img {
        width: auto;
        height: 2.5rem;
      }
    }
  }
  &.widget-send-parcel {
    position: fixed;
    height: 3rem;
    bottom: -3rem;
    left: 0;
    right: 0;
    z-index: 9;
    a {
      display: block;
      width: 100%;
      height: 3rem;
      line-height: 3.2rem;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        display: block;
        width: 100%;
        height: 3rem;
        line-height: 3.2rem;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
      }
      span {
        position: relative;
        top: -3px;
      }
    }
  }
}

/***** steps *****/

.steps {
  background: #fbfbfb;
  ul {
    display: flex;
    li {
      float: left;
      width: 20%;
      text-align: center;
      .step-line {
        position: relative;
        display: block;
        &:before {
          content: "";
          position: absolute;
          z-index: 0;
          top: 50%;
          left: 0;
          width: 50%;
          height: 2px;
          background: #ccc;
        }
        &:after {
          content: "";
          position: absolute;
          z-index: 0;
          top: 50%;
          right: 0;
          width: 50%;
          height: 2px;
          background: #ccc;
        }
      }
    }
  }
  &.steps-active-1 ul li.step-1 span {
    background: #03a9f4;
  }
  &.steps-active-2 ul li {
    &.step-1 span, &.step-2 span, &.step-1 .step-line:after, &.step-2 .step-line:before {
      background: #03a9f4;
    }
  }
  &.steps-active-3 ul li {
    &.step-1 span, &.step-2 span, &.step-3 span, &.step-1 .step-line:after {
      background: #03a9f4;
    }
    &.step-2 .step-line {
      &:after, &:before {
        background: #03a9f4;
      }
    }
    &.step-3 .step-line:before {
      background: #03a9f4;
    }
  }
  &.steps-active-4 ul li {
    &.step-1 span, &.step-2 span, &.step-3 span, &.step-4 span, &.step-1 .step-line:after, &.step-2 .step-line:after, &.step-3 .step-line:after, &.step-2 .step-line:before, &.step-3 .step-line:before, &.step-4 .step-line:before {
      background: #03a9f4;
    }
  }
  &.steps-active-5 ul li.step-5 span {
    background: #4caf50;
  }
  ul li {
    &.step-1 .step-line:before, &.step-5 .step-line:after {
      display: none !important;
    }
    span {
      position: relative;
      z-index: 1;
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: #ccc;
      i {
        position: relative;
        top: 2px;
      }
    }
    em {
      font-style: normal;
    }
  }
}

.pricing .logo {
  width: auto;
  height: 2.5rem;
  margin: auto;
}

@media (max-width: 1200px) {
  body {
    padding-top: 4rem;
  }
  header {
    height: 3.5rem;
    padding-top: 0.25rem !important;
    img.logo {
      float: none;
      width: auto;
      height: 2rem;
      margin: 0.5rem 0 0 0;
    }
  }
  .mobile-menu {
    float: left;
  }
  .mobile-account {
    float: right;
  }
  .mobile-menu i, .mobile-account i {
    line-height: 3rem;
  }
  .page-home .headroom--top {
    .mobile-menu i, .mobile-account i {
      color: #fff !important;
    }
  }
  .mm-navbar {
    background: #fff;
    height: 3.5rem !important;
    line-height: 2.25rem !important;
    border: 0;
  }
  .mm-panels > .mm-panel {
    padding: 40px 0 0 0 !important;
  }
  .mm-listview {
    float: none !important;
    width: 100% !important;
    margin: -0.25rem 0 0 0 !important;
  }
}

@media (max-width: 768px) {
  section.partners ul li {
    padding: 1.5rem;
    display: block;
  }
  .block-payment {
    height: 6rem;
    ul li:first-child {
      float: none;
      height: auto;
      line-height: normal !important;
    }
  }
  footer ul {
    background: rgba(0, 0, 0, 0.25);
    padding: 1.5rem;
  }
}